/*  your css code here. If applicable */
body{
	text-align: center;
	background: #f8f8f8;
}

.book-library{
	width: 90%;
	background: #f8f8f8;
	font-family: sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 2px 2px 5px gray;
}
.book{
	border-top: 20px solid white;
	padding: 20px;
}
.details{
	text-align: left;
}

h2[class="details"]{
	margin-bottom: 2px;
}
.author{
	margin: 0;
	color: #777777;
}
.price{
	background-color: #2ecc71;
	padding: 10px;
	color: white;
	width: 100%;
	border: none;
	border-radius: 5px;
}